
/*PowerLine Theme*/
body {
    background-color: #282a36;
    background-image: url('./bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: content-box;
    background-size: 100% 100%
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f8f8f2;
}

a {
    color: #4caf50;
}

.ButtonNum {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-color: #74ace4;
    color: #f8f8f2
}

.ButtonOp {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-color: #e2a68a;
    color: #795548;
}

#Panel1 {
    background-color: #282a36;
}

#picFG {
    width: 150px;
    height: auto;
}

#Screen {
    background-color: #92c7f1;
}

footer {
    text-align: center;
    padding: 3px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #32302f;
    color: #fbf1c7;
}

