body {
    background-color: #282a36;
    background-image: url('./bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: content-box;
    background-size: 100% 100%
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f8f8f2;
}

.ButtonNum {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-color: #6272a4;
    color: #f8f8f2
}

.ButtonOp {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-color: #ffb86c;
    color: #44475a
}

#Panel1 {
    background-color: #282a36;
}

#Screen {
    background-color: #50fa7b;
}
